/* This is the template for style on pages, need to create you own css for main content  */

html {
height: 100%;
background-image: -webkit-linear-gradient(to top, white 0%, #021d3a 100%);
background-image: -moz-linear-gradient(to top, white 0%, #021d3a 100%);
background-image: -o-linear-gradient(to top, white 0%, #021d3a 100%);
background-image: linear-gradient(to top, white 0%, #021d3a 100%);
background-attachment: fixed;
}

body {
margin: 0 4%;
box-shadow: 2px 3px 8px 0;
}

.wrapper {
display: grid;
grid-template: 135px 1fr 45px / 1fr;
}

header {
font-family: sans-serif;
color: #ffffff;
background: #020036;
background-image: url(../images/headerBG.jpg);
background-size: cover;
background-position: center;
margin: 0;
position: -webkit-sticky; /* Safari */
position: sticky;
z-index: 2;
grid-row: 1;
top: 0;
}

header h1 {
padding: 20px 0 1em 10px;
text-shadow: 2px 2px 2px #000000;
}

nav {
overflow: hidden;
background-color: #021d3a;
}

nav a {
float: left;
font-size: 16px;
color: #ffffff;
text-align: left;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: #ffffff;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
background-color: #ffffff;
color: #021d3a;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
float: none;
color: #000000;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}

main {
font-family: sans-serif;
text-align: justify;
background: #ffffff url(../images/mainBG.jpg) repeat fixed 0 0;
grid-row: 2;
padding: 5px;
}


footer {
font-family: sans-serif;
font-size: x-small;
font-style: italic;
color: #ffffff;
text-align: center;
background-color: #021d3a;
padding: 1em;
position: -webkit-sticky; /* Safari */
position: sticky;
}
footer a {
color: #ffffff;
text-decoration: none;
}